@font-face {
  font-family: 'SolaimanLipi';
  src: url('../fonts/SolaimanLipi.ttf');
}

@font-face {
  font-family: 'Operator Mono';
  src: url('../fonts/OperatorMono-Book.otf');
}

body {
  font-family: 'Operator Mono', 'SolaimanLipi', sans-serif;
}
